## data paths
export FILEPREFIX=ADPsychosis.WGCNA ## filename of initial binary plink files that will be appended to all other output
export DATADIR=./ ## project folder
export METADIR=${DATADIR}/metadata
export RAWDATADIR=${DATADIR}/RawData # where plink files should be found
export PROCESSDIR=${DATADIR}
export IMPUTEDIR=${DATADIR}/Imputation

## Reference data filepaths
export RefDir=${DATADIR}/Ref/GRCh37_HG19_Referance # folder with text file of EPIC SNP probe rs ids

## Software/script filepaths (where not on the command line)
export SCRIPTDIR=${DATADIR}/Analysis/Colocalization/Genotype.QC
